:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    height: 10vh;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: white;
    font-weight: bold;
    padding: 20px;

    .btn-menu {
        width: 35px;
        height: 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
            transform: scale(1.2);
        }

        &.close {
            div {

                &:first-child {
                    transform: translateY(-14px);
                }
                &:nth-child(2) {
                    opacity: 1;
                }
                &:last-child {
                    transform: translateY(14px);
                }
            }
        }

        div {
            background-color: black;
            height: 7px;
            width: 100%;
            position: absolute;
            transition: all 0.3s ease;
            &:first-child {
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:last-child {
                transform: rotate(-45deg);
            }

            
        }
    }
}
#main-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: #ddd;
    nav {
        width: 300px;
        background-color: #333;
        margin-left: -300px;
        transition: margin-left 0.3s ease;
        &.menuOpen {
            margin-left: 0;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                margin: 15px 20px;
            }
        }
        a {
            color: white;
            text-decoration: none;
            &.active {
                color: var(--primary);
            }
        }
    }
    main {
        flex-grow: 1;
        margin: 1rem;
        padding: 1rem;
        background-color: white;
        box-shadow: 3px 3px 15px 0 gray;
        border-radius: 0.3rem;
    }
}